@import url('https://fonts.googleapis.com/css?family=Helvetica|open+sans');

:root {
    --primary-color: #43573C;
    --secondary-color: #333333;
    --accent1-color: #454545;
    --accent2-color: white;
    --heading-font: "open sans";
    --paragraph-font: Helvetica
}

html {
    background-color: var(--primary-color);
    
}



header, nav, main, footer, body {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

header{
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid #333;
    padding: 10px;
    font: var(--heading-font)
    
}

nav{
text-align: left;
}

header img {
    width: 50px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 30px #ccc;
}

body {
    background-color: var(--accent2-color);
    font-size 16px;
    font: var(--paragraph-font)
}

h2 {
    color: white;
}

main {
    background-color: var(--accent1-color);
}

nav a:link, nav a:visited {
    color: white
}