@import url('https://fonts.googleapis.com/css?family=Helvetica|open+sans');
:root {
    --primary-color: #43573C;
    --secondary-color: #333333;
    --accent1-color: #454545;
    --accent2-color: white;
    --heading-font: "open sans";
    --paragraph-font: Helvetica:
}

html {
    background-color: var(--primary-color);
    text-align: center;
}

main {
    background-color: var(--secondary-color);
    
}

header {
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid #333;
    padding: 10px;
    font: var(--heading-font);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    padding-right: 20px;
    padding-bottom: 10px;
    width: 100px;
    height: auto;
    
    
}

.motto {
    font-style: italic;
    color: forestgreen;
    font-size: 1.5rem;
    letter-spacing: 1.5pt;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    font-family: "News Cycle";
    font-size: 1rem;
}

li {
    display: block;
    text-align: center;
    float: right;
    padding: 0 0 0 150px;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--primary-color);
    
    
}
nav a {
    color: white;
    text-decoration: none;
}
body {
    background-color: var(--secondary-color);
    font-size: 16px;
    font: var(--paragraph-font);
    max-width: 960px;
    margin: auto;
}

.picture {
    text-align: center;
    padding-top: 25px;
}

h1 {
    margin: 0em;
}

h2 {
    font-size: 2rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: green;
    padding-left: 50px;
}

p.closing {
    font-family: cursive;
}

footer {
    background-color: var(--accent1-color);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.social {
    padding-left: 400px;
}